body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 900;
}


.container-fluid {
  padding: 3% 15% 7%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: left;
}
.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.message-dog {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.iphone6 {
  margin-top: 200px;
  transform: rotate(20deg);
  overflow:hidden;
}

/* navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}




/* Title Image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  /* top: 300px; */
  right: 30%;
}

/* Feature Section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  /* text-align: center; */
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin: 1rem;
  padding: 3%;
}

.icon:hover {
  color: #ff4c68;
}


p {
  color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {

  /* text-align: center; */
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  /* text-align: center; */
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin:20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
.title-image {
  position: static;
  transform: rotate(0deg);
}

}

/* Call to Action */
#cta {
  background-color: #ff4c68;
  color: #fff;
  /* text-align: center; */
}

.cta-heading {

  font-family: 'Montserrat-bold', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  padding: 100px 100px 50px 100px;
}

.cta-download-button {
  margin: 0 3% 5% 5%;
}

#footer {
  margin: 100px;
  /* text-align: center; */
  background-color: #fff;
  padding: 7% 20%;
}

.footer-p {
  padding: 20px;
}

.footer-icon {
  margin: 20px 10px;
}
